*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

h1{
  background-color: rgb(89, 117, 117);
  padding: 2rem;
  border-radius: 3px;

}

h2{
  text-decoration: underline;
}

button{
  background-color: rgb(0, 96, 198);
  padding: 10px;
  border-radius: 5px;
  color: white;
  border: none;
  margin-top: 1rem;
  cursor: pointer;

}

button:hover{
  transform: scale(1.1);
  transition: 0.5s;
  text-decoration: dashed;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #f5f5f5;
  }
  